// views/project-detail.pug
doctype html
html
  head
    title #{project.title} - Crowdfunding
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/table.css')
    link(rel='stylesheet', href='/style.css')
  body
    .menu-container
      nav
        ul
          li: a(href="/") Home
          li: a(href=`/edit/${project.id}`) Edit Project

    br
    .project-card
      h1 #{project.title}
      p: i Created #{project.creation.toLocaleDateString()} by #{project.owner}
    
      p #{project.description}
      p: b Goal: $#{project.goal}
      p: b Raised: 
        span(style="color:darkgreen;") $#{project.raised}
      p: b Remaining: 
        span(style="color:darkred;") $#{Number(project.goal) - Number(project.raised)}
      p Deadline: #{project.deadline.toLocaleDateString()}
      
      .progress-bar
        .progress(style=`width: ${(project.raised/project.goal)*100}%`)
      h3(style="text-align:center;") #{Math.round((project.raised/project.goal)*100)}% funded

      if(project.deadline > new Date())
        div(style="text-align:center; margin-top:20px;")
          a(href=`/donate/${project.id}`) 
            button.cool-button Donate Now


    if(project.donation)
      if(Object.keys(project.donation).length > 0)
        h2 Donations
        div
          table
            tr
              th Date
              th Donor
              th Amount
              th Shift ID
              th Status
            each donor in Object.keys(project.donation).reverse()
              -donorData = project.donation[donor]
              tr
                td #{new Date(donorData.date).toLocaleDateString('en-US', {year: 'numeric', month: '2-digit', day: '2-digit'})}
                td #{donorData.donor}
                td #{donorData.amount}
                td #{donor.slice(8, -1)}
                td
                  if(donorData.status == "waiting")
                    span Waiting
                  else if(donorData.status == "confirmed")
                    span Confirmed

    